{% extends 'base.html' %} {% block title %}Resultados de búsqueda{% endblock %}
{% block content %}
<h2>Resultados de búsqueda: "{{ query }}"</h2>

{% if revistas %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Áreas</th>
      <th>Catálogos</th>
      <th>H-Index</th>
    </tr>
  </thead>
  <tbody>
    {% for key, datos in revistas.items() %}
    <tr>
      <td>
        <a href="{{ url_for('detalle_revista', key=key) }}"
          >{{ datos.titulo }}</a
        >
      </td>
      <td>
        {% for a in datos.areas %}
        <a href="{{ url_for('revistas_por_area', nombre=a) }}">{{ a }}</a>{% if
        not loop.last %}, {% endif %} {% else %}
        <span>N/A</span>
        {% endfor %}
      </td>
      <td>
        {% for c in datos.catalogos %}
        <a href="{{ url_for('revistas_por_catalogo', nombre=c) }}">{{ c }}</a>{%
        if not loop.last %}, {% endif %} {% else %}
        <span>N/A</span>
        {% endfor %}
      </td>
      <td>{{ datos.h_index or 'N/A' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="alert alert-warning">
  No se encontraron revistas que coincidan con "{{ query }}".
</div>
{% endif %} {% endblock %}
