{% extends 'base.html' %}

{% block title %}Créditos{% endblock %}

{% block content %}
<h2>Créditos</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nombres de los Alumnos</th>
      <th>Expediente</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Carlos Eduardo Fierros Sesma</td>
      <td>223204415</td>
    </tr>
    <tr>
      <td>Diego Alonso Flores Lucero</td>
      <td>223221580</td>
    </tr>
    <tr>
      <td>Daniel Montaño De la Torre</td>
      <td>223206520</td>
    </tr>
  </tbody>
</table>
{% endblock %}
